.content {
    display: grid;
    grid-template-columns: 350px 1fr 350px;
}

nav {
    grid-column: 2 / 3;
}

ul {
    grid-column: 2 / 3;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

li {
    list-style-type: none;
    color: orangered;
    font-size: x-large;
    font-weight: 700;
    cursor: pointer;
}

li:hover {
    color: red;
}

li:active {
    color: darkred;
}

img {
    width: 100%;
    grid-column: 2 / 3;
}

h1 {
    grid-column: 2 / 3;
    color: orangered;
    font-size: 50px;
}

p {
    grid-column: 2 / 3;
}

body, html {
    background-color: orange;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
